@page "/"

@using Newtonsoft.Json
@using System.IdentityModel.Tokens.Jwt
@using PasswordManagerMaui.Models

@inject NavigationManager navManager;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>AppLaunch</h3>

Loading....

@code {
    protected async override Task OnInitializedAsync()
    {
        var UserDetails = await sessionStorage.GetItemAsync<User>("UserDetails");

        //   string userdetailsStr = await SecureStorage.GetAsync(nameof(Setting.UserDetails));

        if (UserDetails != null)
        {
            // var userdetails = JsonConvert.DeserializeObject<PasswordManagerMaui.Models.User>(userdetailsStr);

            var handler = new JwtSecurityTokenHandler();
            var jsontoken = handler.ReadToken(UserDetails.Token) as JwtSecurityToken;

            if (jsontoken.ValidTo < DateTime.UtcNow)
            {
                navManager.NavigateTo("/login");
            }
            else
            {
              //  Setting.UserDetails = userdetails;
                navManager.NavigateTo("/dashboard");
            }
        }
        else
        {
            navManager.NavigateTo("/login");
        }
    }
}
